.header{
    width: 5rem;
    height: 100%;

    .hamborgir{
        width: 5rem;
        padding: 1.2rem;
        height: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        div{
            height: 0.3rem;
            background-color: rgb(59, 59, 59);
            border-radius: 10rem;
        }
    }

    .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 3rem;

        button{
            writing-mode: vertical-lr;
            font-size: 1rem;
            background-color: white;
            color: rgb(59, 59, 59);
        }
    }
}
