.carousel{
    width: calc(90vw - 5rem);
    height: 100%;
    overflow-x: scroll;

    .carousel_wrap{
        height: 100%;
        width: calc(150vw + 100px);
        display: flex;
        // overflow-x: scroll;
    }
}