.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E6E6E6;
}

.container{
  background-color: #fff;
  height: 90vh;
  width: 90%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
  border-radius: 1rem;

  .wrapper{
    height: 92.5%;
    width: 100%;
    display: flex;  
  }
}